<p-toolbar>
  <div class="p-toolbar-group-left">
    <div class="p-toolbar-title">OGEM Vehicle Tracking</div>
  </div>
  <div class="p-toolbar-group-right">
    <span class="p-buttonset">
      <button pButton type="button" label="Home" class="p-button-rounded" icon="pi pi-home" routerLink="/"></button>
      <button pButton type="button" label="About" icon="pi pi-question-circle" routerLink="/about"></button>
      <button pButton type="button" label="Add Vehicle" class="p-button-rounded" icon="pi pi-car" routerLink="/add-vehicle"></button>
    </span>
  </div>
</p-toolbar>
