<p-panel class="footer-panel">
  <div class="p-grid p-nogutter p-align-center">
    <div class="p-col-12 p-md-6">
      <p>© 2024 OGEM - OTOMASYON GEREÇLERİ VE ELEKTROMEKANİK SAN. TİC. A.Ş.</p>
    </div>
    <div class="p-col-12 p-md-6 p-text-center">
      <a routerLink="/" class="footer-link">Home</a> |
      <a routerLink="/about" class="footer-link">About</a> |
      <a href="https://www.ogemsan.com.tr/iletisim/" target="_blank" class="footer-link">Contact</a>
    </div>
  </div>
</p-panel>
